@font-face { 
  font-family: 'Eyesome Script'; 
  src: url('fonts/Eyesome-Script.otf') format('opentype'); 
}

@font-face { 
  font-family: 'Source Serif 4'; 
  src: url('fonts/Source-Serif-4.ttf') format('opentype'); 
}

body, html {
    background-color:  #F8ebdf;
    margin: 0;
    padding: 0;
    height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.titleimage {
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  opacity: 50%;
  width: 100%; /* optional */
  z-index: -1;
}

.bottomSpace {
  height: 200px;
  width: 100%;
}

input[type="text"] {
  background-color: #f7f1eb;
}

input[type="radio"] {
  accent-color: #f7f1eb;
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttonCenter { 
  text-align: center;
}

textarea { 
  background-color: #f7f1eb; 
}

.heartimg {
  width: 90%;
  display: block; 
  margin: 0 auto;
  margin-top: -60px;
}

.heartimgRSVP {
  width: 90%;
  display: block; 
  margin: 0 auto;
  margin-bottom: 40px;
}

h1 {
    font-family: 'Eyesome Script';
    font-size: 80px;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Source Serif 4';
    color: black;
    text-align: center;
    text-shadow: 1px 1px;
    padding-left: 30px;
    padding-right: 30px;
}

p {
  font-family: 'Source Serif 4'; 
}

hr {
  width: 80%;
  border: none;
  height: 0.5px;
  background-color: #333;
}

.question {
    padding-top: 50px;
}

.question1 {
    padding-top: 20px;
    font-weight: bold;
}

.break {
  height: 0px;
}

.tab {
  overflow: hidden;
  background-color: #eddecf;
  display: flex;
  justify-content: center;
}

.no-link {
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}

.RSVPBut {
    background-color: #eddecf; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 1s ease; /* Smooth transitions for all properties */
}

.RSVPBut:hover {
    background-color: #000000;
    color: #eddecf;
    opacity: 0.8;
}

input[type="submit"] { 
  background-color: #eddecf; 
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #EDEBE9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #EDEBE9;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}

body { font-family: Arial, sans-serif; margin: 20px; }
form { max-width: 500px; margin: 0 auto; padding: 20px; border-radius: 8px; }
label { display: inline-block; margin-bottom: 8px; font-weight: bold; }
sub_label { display: inline-block; margin-bottom: 8px; }
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't increase width */
}

.error-message {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}
.success-message {
    color: green;
    margin-bottom: 10px;
}

@media (min-width: 900px) { 
  .titleimage {
    opacity: 20%;
  }
}

@media (max-width: 600px) { 
  h1 {
    font-size: 50px;
  }
  .heartimg {
      margin-top: -30px;
  }
}